<div class="center jumbotron">
	<h1>PAT SEARCH</h1>
	<h2>Welcome to patent and scientific articles search application.</h2>
	<h2>New member?</h2><%= link_to "Sign Up!", signup_path , class: "btn btn-lg btn-primary" %>
</div>
